.isologo {
    position: relative;
    left: 4%;
    width: 26%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.isologofondo {
    position: absolute;
    top: 11%;
    left: 4%;
    width: 91.5%;    
    height: 75%;
    z-index: -99;
}

.separador {
    width: 83%;
    margin-left: 10%;
    border-bottom: 1px solid;
}

/* Estilos para los botones de paginación */
#paginacion button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #paginacion button:hover {
    background-color: #ddd;
  }
  
  #paginacion button.active {
    background-color: #555;
    color: #fff;
  }
  
  /* Estilos para los números de página */
  #paginacion span {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    font-size: 14px;
  }
  