<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar-tareas</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <!-- Para poder mostrar el resto de los datos de un cargo cuando ocurra un cambio de valor tengo que hacerlo con js... Espero que no se termine transformando en un frankenstein... -->
        <!-- <label><b>Cargos</b></label>
        <select id="cargos" onchange="mostrar_info_cargo()">
            {% for cargo in cargos %}
                <option value="{{ cargo.cargo }}">{{ cargo.cargo }}</option>
            {% endfor %}
        </select> -->
        <label><b>Docentes</b></label>
        <select id="docente" onchange="mostrar_info_docente()">
            <option value="none" selected disabled hidden>Seleccione docente</option>
            <!-- Se muestra cada option desde un script más abajo -->
        </select>
        
        <label><b>Tareas</b></label>
        <select>
            <option value="none" selected disabled hidden>Seleccione modalidad</option>
            <option value="desarrollo-profesional">Doecente/Desarrollo profesional</option>
            <option value="investigador">Docente/Investigador</option>
        </select>

        <label><b>Info Docente:</b></label>
        <div id="docente-info">
            <!-- Aquí se mostrará la información adicional del cargo seleccionado -->
        </div>
        <br><br>
        <button type="submit">Asignar tarea</button>
    </form>

    <script>
        const data = JSON.parse("{{docente|escapejs}}");
        console.log(data);
        const selectDocente= document.getElementById('docente');
        data.forEach(e => {
            selectDocente.innerHTML += `<option value="${e.docente}">${e.docente}</option>`
        });
        const docenteInfo = document.getElementById('docente-info');
        docenteInfo.innerHTML = `Numero de documento: ${data[0].numero_documento} <br> Nombre y apellido: ${data[0].nombre_apellido}`;
        // función que se llama en el onchange
        const mostrar_info_docente = () => {
            const docenteSeleccionado = document.getElementById('docente').value;
            const docente = data.find(c => c.docente == docenteSeleccionado);
            document.getElementById('docente-info').innerHTML = `Numero de documento: ${docente.numero_documento} <br> Nombre y apellido: ${docente.nombre_apellido}`;
        }
    </script>
</body>
</html>