
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docente</title>
</head>

<body>
    
    <h1>Docente</h1>
    <h3> - Nro DNI: {{docente.numero_documento}}</h3>
    <h3> - Legajo: {{docente.legajo}}</h3>
    <h3> - Nombre y Apellido: {{docente.nombre_apellido}}</h3>
    <h3> - Fecha de Ingreso: {{docente.fecha_ingreso}}</h3>
    {% if docente.fecha_jubilacion %}
        <h3> - Fecha de Jubilación: {{docente.fecha_jubilacion}}</h3>
    {% else %}
        <h3> - Fecha de Jubilación: todavía no se jubiló</h3>
    {% endif %}
    {% if docente.correo_electronico %}
        <h3> - Correo electrónico: {{docente.correo_electronico}}</h3>
    {% else %}
        <h3> - Correo electrónico: no se cargó ningún mail</h3>
    {% endif %}
</body>

</html>