<html lang="en">
 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    
    <title>MDC</title>

    <style>
        .hidden{
            display: none;
        }
    </style>
</head>

<body>

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-as">
                            <input type="text" class="form-control" placeholder="Buscar" name="Buscar"></input>
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="boton btn-success">Buscar</button>
                            </span>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>

    <form action="http://127.0.0.1:8000/docente" method="get">
        <label for="search_query">Buscar:</label>
        <input type="text" name=" " id="search_query">
        <button type="submit">Buscar</button>
      </form>

      <form id="mi-formulario" method="post">
        <label for="search_query">Buscar:</label>
        <input type="text" name="q" id="search_query">
        <input type="hidden" name="legajo" >
        
        <button type="submit">Buscar</button>
      </form>
      
      <script>
        const formulario = document.querySelector('#mi-formulario');
           formulario.addEventListener('submit', (event) => {
          event.preventDefault();
          const q = encodeURIComponent(document.querySelector('#search_query').value);
          const legajo = encodeURIComponent(document.querySelector('input[name="legajo"]').value);
          const url = `http://127.0.0.1:8000/docente/${legajo}`;
          window.location.href = url;
        });
      </script>-->
    <h1>Ingrese Legajo a buscar</h1>
    <form action="{% url 'docente' %}" method="busca">
        <input type="text" name="filtro" id="filtro" value="{{queryset}}">
        <!--<button type="submit">Buscar</button>-->    
    </form>
    
   <ul id="lista-docentes"> 
    {% for d in docentes %}
    <li class="docente"> 
       <a href="{% url 'docente-detalle' legajo=d.legajo %}"> 
            <h4> DNI: {{d.numero_documento}}. Legajo: {{d.legajo}}. Nombre y Apellido: {{d.agente}}.</h4>
        </a>
    </li>
    {% endfor %}
</ul>

<script>
 // lista de docente 
  //capturar Input
//  filtrar docentes 
  console.log("Ejecutando JS");

  const listaDocente = document.getElementById("lista-docentes").children;
  console.log(listaDocente);

  const filtrarDocente = () => {
    console.log("filtrando docentes");
  const inputValue = document.getElementById("filtro").value;
  console.log(inputValue);
  for(const docente of listaDocente) {
  if(inputValue!== "" &&
    !docente.innerHTML.includes(inputValue))
{
     docente.classList.add("hidden");

 }
 else {
    docente.classList.remove("hidden");
 }
 
  };
  }
  //filtrarDocente();


  const inputDOC = document.getElementById("filtro");
  inputDOC.onkeyup = filtrarDocente;

</script>

</body>

</html>
