{% extends 'index.html' %}

{% block title %} <title>Tareas extra docente</title> {% endblock %}

{% block light-style %}
  <style>
    .hidden {
      display: none;
    }
  </style>
{% endblock %}

{% block sidebar %}
<div> <!-- div a fines de agrupar y poder ocultar todo el contenido -->
    <!-- Botón para desplegar cuando se achica el tamaño de la página -->
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Desplegar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
    </button>
    <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-65 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-red-800">
        <a href="#" class="flex items-center pl-2.5 mb-4 pb-3 border-b-[1px] border-white">
            <img src="https://untdf.edu.ar/img/isologotipo_chico.png" class="h-6 mr-3 sm:h-7" alt="UNTDF Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-50">Mapa de carreras</span>
        </a>
        <ul id="content-side-bar" class="space-y-2 font-medium">
            <!-- content con js -->
        </ul>
        
    </div>
    </aside>
    <script>
    const urlSplit = window.location.href.split('/'); // Obtengo un arreglo de los elementos que componenen la url actual xx/yyy/zzz = ["xx", "yyy", "zzz"]
    // console.log(urlSplit);
    const idxLegajo = urlSplit.indexOf('detalles') - 1; // Encuentra la posición del elemento que contiene el nro de legajo a partir del "detalle" que es un valor fijo
    // console.log(idxLegajo);
    let legajo = null;
    if (idxLegajo !== -1) legajo = urlSplit[idxLegajo];
    // console.log({legajo: legajo});
    </script>

    <script>
    // TAREA: 
    // - Hay que corregir los href
    const docenteContent = [
        {
            href: "{% url 'docente' %}",
            iconName: "fa-solid fa-list",
            title: "Ver listado"
        },
        {
            href: "#",
            iconName: "far fa-regular fa-user",
            title: "Ver perfil"
        },
        {
            href: "#",
            iconName: "far fa-folder-open",
            title: "Ver histórico"
        },
        {
            href: "{% url 'docente-asignar-tareas' legajo=docente.legajo %}",
            iconName: "fas fa-chalkboard-teacher",
            title: "Asignar otras actividades"
        },
        {
            href: "{% url 'docente-asignar-modalidad' legajo=docente.legajo %}",
            iconName: "fa fa-user-edit",
            title: "Asignar modalidad"
        },
        {
            href: "{% url 'docente-asignar-comision' legajo=docente.legajo %}",
            iconName: "fas fa-user-clock",
            title: "Asignar comision"
        },
        {
            href: "#",
            iconName: "fas fa-file-upload",
            title: "Cargar documentos"
        },
    ];
    const gralContent = [
        {
            href: "#",
            iconName: "fas fa-user-clock",
            title: "Asignar franja horaria"
        },
        {
            href: "#",
            iconName: "fas fa-clipboard-list",
            title: "Listar comisiones sin asignar"
        }
    ];
    const contentSideBar = document.getElementById("content-side-bar");
    contentSideBar.innerHTML += `<div class="text-white font-semibold text-lg">Docente</div>`;
    docenteContent.forEach((e) => {
        // console.log(e.href);
        contentSideBar.innerHTML += `
        <li>
            <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                <span class="ml-3 text-gray-200">${e.title}</span>
            </a>
        </li>
    `;
    });
    contentSideBar.innerHTML += `<div class="pt-2 text-white font-semibold text-lg">General</div>`;
    gralContent.forEach((e) => {
        contentSideBar.innerHTML += `
        <li>
            <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                <span class="ml-3 text-gray-200">${e.title}</span>
            </a>
        </li>
    `;
    });
    </script>
</div>
{% endblock %}

{% block body-content %}
<div class="p-1 pl-7 sm:ml-64">

  
  <form method="post" action="{% url 'docente-asignar-tareas' legajo=docente.pk  %}">
      {% csrf_token %}
      <!-- Mostrar dropdownlist para seleccionar Cargo -->
      <label for="{{ form.cargo.id_for_label }}">Cargo:</label>
      <select name="{{ form.cargo.name }}" id="{{ form.cargo.id_for_label }}">
        {% for cargo in cargo %}
          <option value="{{ cargo.pk }}">{{ cargo.nro_cargo }}</option>
        {% endfor %}
      </select>

        <!-- Mostrar dropdownlist para seleccionar Tipo_Extra -->
        <label for="{{ form.tipo_extra.id_for_label }}">Tipo Extra:</label>
        <select name="{{ form.tipo_extra.name }}" id="{{ form.tipo_extra.id_for_label }}">
          {% for tipo_extra in form.tipo_extra.field.queryset %}
            <option value="{{ tipo_extra.pk }}">{{ tipo_extra.desc_extra }}</option>
          {% endfor %}
        </select>

      <label for="fecha_desde">Fecha desde:</label>
      <input type="date" name="fecha_desde" required>
      <br>

      <label for="fecha_hasta">Fecha hasta:</label>
      <input type="date" name="fecha_hasta" required>
      <br>

      <label for="hora_inicio">Hora inicio:</label>
      <input type="time" name="hora_inicio" required>
      <br>

      <label for="hora_finalizacion">Hora finalización:</label>
      <input type="time" name="hora_finalizacion" required>
      <br>

      <input type="submit" value="Guardar">
  </form>

{% endblock %}

{% block scripts %}

{% endblock %}