{% extends 'index.html' %}

{% block sidebar %}
<div> <!-- div a fines de agrupar y poder ocultar todo el contenido -->
    <!-- Botón para desplegar cuando se achica el tamaño de la página -->
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Desplegar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
    </button>
    <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-65 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-red-800">
        <a href="#" class="flex items-center pl-2.5 mb-4 pb-3 border-b-[1px] border-white">
            <img src="https://untdf.edu.ar/img/isologotipo_chico.png" class="h-6 mr-3 sm:h-7" alt="UNTDF Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-50">Mapa de carreras</span>
        </a>
        <ul id="content-side-bar" class="space-y-2 font-medium">
            <!-- content con js -->
        </ul>
        
    </div>
    </aside>
    <script>
    const urlSplit = window.location.href.split('/'); // Obtengo un arreglo de los elementos que componenen la url actual xx/yyy/zzz = ["xx", "yyy", "zzz"]
    // console.log(urlSplit);
    const idxLegajo = urlSplit.indexOf('detalles') - 1; // Encuentra la posición del elemento que contiene el nro de legajo a partir del "detalle" que es un valor fijo
    // console.log(idxLegajo);
    let legajo = null;
    if (idxLegajo !== -1) legajo = urlSplit[idxLegajo];
    // console.log({legajo: legajo});
    </script>

    <script>
    // TAREA: 
    // - Hay que corregir los href
    const docenteContent = [
        {
            href: "{% url 'docente' %}",
            iconName: "fa-solid fa-list",
            title: "Ver listado"
        },
        {
            href: "#",
            iconName: "far fa-regular fa-user",
            title: "Ver perfil"
        },
        {
            href: "#",
            iconName: "far fa-folder-open",
            title: "Ver histórico"
        },
        {
            href: "{% url 'docente-asignar-tareas' legajo=docente.legajo %}",
            iconName: "fas fa-chalkboard-teacher",
            title: "Asignar otras actividades"
        },
        {
            href: "{% url 'docente-asignar-modalidad' legajo=docente.legajo %}",
            iconName: "fa fa-user-edit",
            title: "Asignar modalidad"
        },
        {
            href: "{% url 'docente-asignar-comision' legajo=docente.legajo %}",
            iconName: "fas fa-user-clock",
            title: "Asignar comision"
        },
        {
            href: "#",
            iconName: "fas fa-file-upload",
            title: "Cargar documentos"
        },
    ];
    const gralContent = [
        {
            href: "#",
            iconName: "fas fa-user-clock",
            title: "Asignar franja horaria"
        },
        {
            href: "#",
            iconName: "fas fa-clipboard-list",
            title: "Listar comisiones sin asignar"
        }
    ];
    const contentSideBar = document.getElementById("content-side-bar");
    contentSideBar.innerHTML += `<div class="text-white font-semibold text-lg">Docente</div>`;
    docenteContent.forEach((e) => {
        // console.log(e.href);
        contentSideBar.innerHTML += `
        <li>
            <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                <span class="ml-3 text-gray-200">${e.title}</span>
            </a>
        </li>
    `;
    });
    contentSideBar.innerHTML += `<div class="pt-2 text-white font-semibold text-lg">General</div>`;
    gralContent.forEach((e) => {
        contentSideBar.innerHTML += `
        <li>
            <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                <span class="ml-3 text-gray-200">${e.title}</span>
            </a>
        </li>
    `;
    });
    </script>
</div>
{% endblock %}

<!-- METER TODO EN UN FORM, INVESTIGAT ANTES... -->

{% block body-content %}
<div class="h-full sm:ml-64 pt-28 pb-28 flex flex-col items-center justify-center">
    
    <form class="flex flex-col h-full w-full" method="post" action="{% url 'docente-asignar-modalidad' legajo=docente.legajo %}">
        {% csrf_token %}
        
        <!-- <div class="h-full flex items-center justify-evenly bg-green-200"> -->
            
            <div class="h-1/3 w-full flex sm:flex-row flex-col items-center justify-center">
                <!-- Dropdown-list Cargo -->
                <div class="h-full w-full flex items-center justify-center">
                    <select id="select-cargo" name="select-cargo" class="h-9 w-[60%] pl-4 bg-gray-200 border border-gray-300 text-gray-700 text-sm font-semibold rounded-lg focus:ring-gray-300 focus:border-gray-300" onchange="mostrarDatos()">
                        <option disabled selected>Seleccione un Cargo</option>
                        {% for cargo in cargos %}
                            <option value="{{ cargo.nro_cargo }}">Cargo N° {{ cargo.nro_cargo }}</option>
                        {% endfor %}    
                    </select>
                </div>
                
                <!-- Dropdown-list Modalidad -->
                <div class="h-full w-full flex items-center justify-center">
                    <select id="select-modalidad" name="select-modalidad" class="h-9 w-[60%] pl-4 bg-gray-200 border border-gray-300 text-gray-700 text-sm font-semibold rounded-lg focus:ring-gray-300 focus:border-gray-300">
                        <option disabled selected>Seleccione una Modalidad</option>
                        {% for modalidad in modalidades %}
                            <option value="{{ modalidad.desc_modal }}" class="options-modalidad">{{ modalidad.desc_modal }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400"> -->

            <div id="div-table" class="h-1/3 w-full py-8 sm:px-72 px-2">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <!-- Datos personales -->
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-400 uppercase bg-gray-700">
                            <tr>
                                <th scope="col" class="px-6 py-3">Numero</th>
                                <th scope="col" class="px-6 py-3">Categoria</th>
                                <th scope="col" class="px-6 py-3">Dedicación</th>
                                <th scope="col" class="px-6 py-3">Modalidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cargo in cargos %}
                            <tr class="bg-gray-800 border-b border-gray-700">
                                <td class="{{ cargo.nro_cargo }} px-6 py-4 font-semibold text-gray-300">{{cargo.nro_cargo}}</td>
                                <td class="{{ cargo.nro_cargo }} px-6 py-4">{{cargo.categoria.desc_categ}}</td>
                                <td class="{{ cargo.nro_cargo }} px-6 py-4">{{cargo.dedicacion.desc_dedic}}</td>
                                <td class="{{ cargo.nro_cargo }} px-6 py-4">{{cargo.modalidad.desc_modal}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="h-1/3 w-full flex items-center justify-center">
                <button type="submit" class="w-32 h-8 bg-gray-200 text-gray-700 rounded-md shadow-md hover:bg-gray-300 text-sm font-semibold">
                    Guardar cambios
                </button>
            </div>

        <!-- </div> -->
        
        {% if alert is not none %}
        <div class="h-1/6 sm:ml-64 flex flex-col items-center justify-start"><script> alert("{{ alert }}")</script></div>
        {% endif %}

    </form>
</div>

<script>
    // DISABLE inicial
    const divTable = document.getElementById('div-table');
    divTable.style.display = "none";
    
    const tds = document.querySelectorAll('table td');
    tds.forEach(td => {
        td.style.display = "none"; // Aplica el estilo deseado a cada elemento <td>
        // console.log(td);
    });

    let optionsModalidad = document.getElementsByClassName('options-modalidad');
    // console.log(optionsModalidad);
    optionsModalidad = Array.from(optionsModalidad);
    // console.log(optionsModalidad);
    optionsModalidad.forEach(option => {
        option.style.display = "none";
    });


    // Agrandar según necesidad
    const dedicaciones = ["Simple", "Semided.", "Exclusiva"];
    // func aux -> return true si el contenido es una dedicación (contemplada en el array dedicaciones)
    const esDedicacion = ((innerHTML) => {
        let result = false;
        dedicaciones.forEach((d) => { if (innerHTML == d) result = true });
        return result;
    });
    // func aux -> return array de modalidades a visibilizar (a sacar el display = none)
    const returnModalidades = ((dedicacion) => {
        if (dedicacion == "Simple") return ["Docencia/Desarrollo profesional"];
        else if (dedicacion == "Exclusiva") return ["Docencia e Investigación"];
        else return ["Docencia/Desarrollo profesional", "Docencia e Investigación"];
    });

    const selectCargo = document.getElementById('select-cargo');
    const selectModalidad = document.getElementById('select-modalidad');
    
    // => OnChange
    const mostrarDatos = () => {
        // console.log('Value en select-cargo: ', selectCargo.value);
        divTable.style.display = "block";

        optionsModalidad.forEach(option => {
            option.style.display = "none";
        });

        tds.forEach(td => {
            // console.log(td.classList);
            if (td.classList[0] == selectCargo.value) td.style.display = "table-cell";
            else td.style.display = "none";

            if ((td.classList[0] == selectCargo.value) && (esDedicacion(td.innerHTML))) {
                const modalidades = returnModalidades(td.innerHTML);
                optionsModalidad.forEach(o => {
                    // console.log(selectCargo.value);
                    // console.log(modalidades.includes(o.innerHTML));
                    if (modalidades.includes(o.innerHTML)) o.style.display = "block";
                });
            }
        })
    };
</script>
{% endblock %}