{% extends 'index.html' %}

{% block title %} <title>Perfil</title> {% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }
    /* Aplica estilos a todos los botones de examinar archivo */
    input[type="file"]::file-selector-button {
        font-size: 12px;
    }
</style>
{% endblock %}

<!-- Me fue imposible componentizarlo, no logra recuperar de manera correcta el legajo dentro de la url... -->
{% block sidebar %}
<div> <!-- div a fines de agrupar y poder ocultar todo el contenido -->
    <!-- Botón para desplegar cuando se achica el tamaño de la página -->
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Desplegar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
        </svg>
    </button>
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-65 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full w-[90%] px-3 py-4 overflow-y-auto bg-red-800">
            <a href="#" class="flex items-center pl-2.5 mb-4 pb-3 border-b-[1px] border-white">
                <img src="https://untdf.edu.ar/img/isologotipo_chico.png" class="h-6 mr-3 sm:h-7" alt="UNTDF Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-50">Mapa de carreras</span>
            </a>
            <ul id="content-side-bar" class="space-y-2 font-medium">
                <!-- content con js -->
            </ul>

        </div>
    </aside>
    <script>
        const urlSplit = window.location.href.split('/'); // Obtengo un arreglo de los elementos que componenen la url actual xx/yyy/zzz = ["xx", "yyy", "zzz"]
        // console.log(urlSplit);
        const idxLegajo = urlSplit.indexOf('detalles') - 1; // Encuentra la posición del elemento que contiene el nro de legajo a partir del "detalle" que es un valor fijo
        // console.log(idxLegajo);
        let legajo = null;
        if (idxLegajo !== -1) legajo = urlSplit[idxLegajo];
    // console.log({legajo: legajo});
    </script>

    <script>
        const docenteContent = [
            {
                href: "{% url 'docente' %}",
                iconName: "fa-solid fa-list",
                title: "Ver listado"
            },
            {
                href: "{% url 'docente-detalle' legajo=docente.legajo %}",
                iconName: "far fa-regular fa-user",
                title: "Ver perfil"
            },
            {
                href: "{% url 'docente-historico' legajo=docente.legajo %}",
                iconName: "far fa-folder-open",
                title: "Ver histórico"
            },
            {
                href: "{% url 'docente-asignar-modalidad' legajo=docente.legajo %}",
                iconName: "fa fa-user-edit",
                title: "Asignar modalidad"
            },
            {
                href: "{% url 'docente-asignar-comision' legajo=docente.legajo %}",
                iconName: "fas fa-user-clock",
                title: "Asignar comision"
            },
            {
                href: "{% url 'docente-asignar-tareas' legajo=docente.legajo %}",
                iconName: "fas fa-chalkboard-teacher",
                title: "Asignar otras actividades"
            },
        ];
        const gralContent = [
            // {
            //     href: "{% url 'docente-carga' %}",
            //     iconName: "fas fa-user-clock",
            //     title: "Asignar franja horaria"
            // },
            {
                href: "{% url 'comisiones-sin-asignar' %}",
                iconName: "fas fa-clipboard-list",
                title: "Listar comisiones sin asignar"
            },
            {
                href: "{% url 'sobrecarga-deficit' %}",
                iconName: "fas fa-clock",
                title: "Listar docentes con sobrecarga y déficit"
            },
        ];
       const contentSideBar = document.getElementById("content-side-bar");
        contentSideBar.innerHTML += `<div class="text-white font-semibold text-lg">Docente</div>`;
        docenteContent.forEach((e) => {
            // console.log(e.href);
            contentSideBar.innerHTML += `
                <li>
                    <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                        <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                        <span class="ml-3 text-gray-200">${e.title}</span>
                    </a>
                </li>
            `;
        });
        contentSideBar.innerHTML += `<div class="pt-2 text-white font-semibold text-lg">General</div>`;
        gralContent.forEach((e) => {
            contentSideBar.innerHTML += `
                <li>
                    <a href='${e.href}' class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-red-900 group">
                        <i class="${e.iconName} text-gray-200 text-opacity-90"></i>
                        <span class="ml-3 text-gray-200">${e.title}</span>
                    </a>
                </li>
            `;
        });
    </script>
</div>
{% endblock %}

{% block body-content %}
<div class="p-1 sm:ml-64">

    {% if alert is not None %}
        <script> alert("{{ alert }}")</script>
    {% endif %}

    <div class="p-10 sm:ml-14">
        {% if docente %}
            <div class="p-1 pl-7 sm:ml-4">
                <h1 class="text-lg font-semibold dark:text-black">{{docente.nombre_apellido}}</h1>
            </div>
            <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">DNI: </dt>
                    <dd class="text-lg font-semibold dark:text-black">{{docente.numero_documento}}</dd>
                </div>
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Legajo: </dt>
                    <dd class="text-lg font-semibold dark:text-black">{{docente.legajo}}</dd>
                </div>

                {% if docente.correo_electronico %}
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Correo electrónico: </dt>
                    <dd class="text-lg font-semibold dark:text-black">{{docente.correo_electronico}}</dd>
                </div>
                {% else %}
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Correo electrónico: </dt>
                    <dd class="text-lg font-semibold dark:text-black">no se cargó ningún mail</dd>
                </div>
                {% endif %}
            </dl>

            <!-- Cargos -->
            {% if cargos_activos %}
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Cargos: </dt>
                    <dd class="text-lg font-semibold dark:text-black"></dd>
                </div>    
            
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Table -->
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Numero
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Categoria
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Dedicación
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Modalidad
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Fecha de alta
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Fecha de baja
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Subir Resolución <span class="font-medium lowercase">(pdf)</span>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Descargar Resolución
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in cargos_activos %}
                                <tr class="border-b bg-gray-800 border-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{c.nro_cargo}}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{c.categoria.desc_categ}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{c.dedicacion.desc_dedic}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{c.modalidad.desc_modal}}
                                    </td>

                                    {% if c.fecha_alta is not None %}
                                    <td class="px-6 py-4">
                                        {{c.fecha_alta|date:"SHORT_DATE_FORMAT"}}
                                    </td>
                                    {% else %}
                                    <td class="px-6 py-4">
                                        No Definida
                                    </td>
                                    {% endif %}

                                    {% if c.fecha_baja is not None %}
                                    <td class="px-6 py-4">
                                        {{c.fecha_baja|date:"SHORT_DATE_FORMAT"}}
                                    </td>
                                    {% else %}
                                    <td class="px-6 py-4">
                                        No Definida
                                    </td>
                                    {% endif %}
                                    
                                    <!-- Form subida de archivo -->
                                    <td class="px-6 py-4">
                                        <!-- Campo de carga de archivos para cada cargo -->
                                        <input
                                            class="block w-full text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                            type="file"
                                            name="file-{{ c.nro_cargo }}"
                                            accept=".pdf"
                                        >
                                    </td>

                                    <!-- Descarga de archivo -->
                                    {% if c.resolucion %}
                                    <td class="px-6 py-4">
                                        <a href="{{ c.resolucion.url }}" class="font-medium text-[13px] text-blue-600 dark:text-blue-500 hover:underline" download>Descargar Resolución</a>
                                    </td>
                                    {% else %}
                                    <td class="px-6 py-4">
                                        <span class="font-medium text-gray-500">No hay Resolución cargada</span>
                                    </td>
                                    {% endif %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    
                        <!-- Botón de submit fuera de la tabla -->
                    </div>
                    <!-- Button -->
                    <div class="mt-8 flex justify-end">
                        <button name="submit_archivos" class="relative w-32 h-8 px-1 py-1 bg-gray-200 text-gray-700 rounded-md shadow-md hover:bg-gray-300 text-sm font-semibold">
                            Guardar cambios
                        </button>
                    </div>
                </form>
            
                {% if cargas_cte_ch %}
                <div class="w-full flex flex-row mb-3 mt-3">
                    <div class="flex">
                        {% for c in cargos_activos %}
                        <span class="text-lg text-gray-400">
                            Horas Cargo N°{{ c.nro_cargo }}: 
                            <span class="text-black font-semibold">{{ c.carga_actual }}hs</span>
                        </span>
                        {% endfor %}
                    </div>
                    <div class="flex items-end ml-2 pb-1">
                        {% for i in info %}
                        <span class="text-sm font-semibold text-gray-400"> ({{ i }}) </span>
                        {% endfor %}   
                    </div>
                </div>

                <form method="post">{% csrf_token %}
                    <!-- Comisiones table -->
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Cargo
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Materia/Comision
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Tipo
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Hora inicio
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Hora fin
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Dia de semana
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Desde la Fecha
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Hasta la Fecha
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cte in cargas_cte_ch %}
                                <tr class="border-b bg-gray-800 border-gray-700">
                                    {% if cte.comision_ch is not None %}
                                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{cte.cargo.nro_cargo}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.comision_ch.comision.materia.nombre }} ({{ cte.comision_ch.comision.nombre }})
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.comision_ch.tipo_dictado.nombre }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.comision_ch.carga_horaria.hora_inicio }}hs
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.comision_ch.carga_horaria.hora_fin }}hs
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.comision_ch.carga_horaria.dia_semana }}
                                    </td>
                                    <td scope="col" class="px-6 py-3 font-medium">
                                        {{ cte.comision_ch.carga_horaria.fecha_desde|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td scope="col" class="px-6 py-3 font-medium">
                                        {{ cte.comision_ch.carga_horaria.fecha_hasta|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td scope="col" class="text-right pr-6">
                                        <input
                                            type="checkbox"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
                                            name="check-{{ cte.pk }}"
                                        >
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Tareas Extras table -->
                    <div class="mt-4 relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Cargo
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Tarea Extra
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Cantidad de Horas
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Desde la Fecha
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Hasta la Fecha
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cte in cargas_cte_ch %}
                                <tr class="border-b bg-gray-800 border-gray-700">
                                    {% if cte.tipo_extra_ch is not None %}
                                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{cte.cargo.nro_cargo}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.tipo_extra_ch.tipo_extra.desc_extra }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ cte.tipo_extra_ch.cant_horas }}hs
                                    </td>
                                    <td scope="col" class="px-6 py-3 font-medium">
                                        {{ cte.tipo_extra_ch.fecha_desde|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td scope="col" class="px-6 py-3 font-medium">
                                        {{ cte.tipo_extra_ch.fecha_hasta|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td scope="col" class="text-right pr-6">
                                        <input
                                            type="checkbox"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
                                            name="check-{{ cte.pk }}"
                                        >
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %} <!-- End cargas_cte_ch -->
                    
                    <!-- Button-CheckBox, sirve para las tablas de COMISIONES y TIPO EXTRA -->
                    <div class="mt-8 flex justify-end">
                        <button name="submit_checkboxes" class="relative w-32 h-8 px-1 py-1 bg-gray-200 text-gray-700 rounded-md shadow-md hover:bg-gray-300 text-sm font-semibold">
                            Eliminar
                        </button>
                    </div>
                </form>
            
            {% else %}
                <div class="flex flex-col justify-center items-center pb-3 mt-12">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">No hay cargos activos actualmente </dt>
                </div> 
            {% endif %} <!-- Endif Cargos -->
            
        {% else %} <!-- Else if docente -->
            <h3>El docente no pudo ser recuperado y no se encontraba en bases internas</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}