{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas Docente</title>

    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>

 {% if docente %}
    <h1>Docente</h1>
    <h3> - Documento nro: {{docente.numero_documento}}</h3>
    <h3> - Legajo nro: {{docente.legajo}}</h3>
    {% endif %}

<!-- Cargos -->
{% if nro_cargo %}
    <h1>Cargo</h1>
    <h3> - Nro cargo:  {{nro_cargo}}</h3>
 {% endif %}

<div class="FormTareas bg-info p-3 rounded-3">
<form method="post" >
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit" value="Agregar">
</form>
</div>
</body>
</html>