{% extends 'index.html' %}

{% block title %} <title>Comisiones sin asignar</title> {% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }

    .pagina {
        width: 10px;
        /* Ancho fijo para todos los botones de página */
        text-align: center;
        display: inline-block;
    }
</style>
{% endblock %}

{% block body-content %}
<div class="p-1 pl-7 sm:ml-4">

    <div class="p-1 pl-7 sm:ml-64 mb-2">
        <form method="busca">
            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" name="filtro" id="filtro"
                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    style="max-width: 85%" placeholder="Buscar docentes" value="{{queryset}}">
            </div>
        </form>
    </div>

    <div class="p-1 pl-7 sm:ml-[16.25rem]">

        {% if comisiones %}
        <ol class="w-full divide-y divide-gray-200 dark:divide-gray-700" id="lista-docentes" style="max-width: 85%">

            <!-- {% for c in comisiones %}
                {% if c.nombres_carreras %}
                <li class="docente">
                    <div class="w-full flex items-center space-x-4 justify-between">
                        <div class="w-full flex-1 min-w-0 flex flex-row py-2">
                            <div class="w-1/3 flex flex-col">
                                <p class="text-sm text-gray-700 truncate flex justify-start">
                                    Materia:
                                    <span class="text-sm truncate text-gray-800 font-semibold ml-1">
                                        {{ c.nombre_materia }}
                                    </span>
                                </p>
                                <p class="text-sm font-medium text-gray-700 truncate flex justify-start">
                                    Comisión: 
                                    <span class="text-sm text-gray-800 truncate font-semibold ml-1">
                                        {{ c.nombre_comision }}
                                    </span>
                                </p>
                            </div>
                            <div class="w-1/3 flex pl-12">
                                <p class="text-sm text-gray-700 truncate flex justify-center">
                                    Ubicación: 
                                    <span class="text-sm text-gray-800 truncate font-semibold ml-1">
                                        {{ c.nombre_ubicacion }}
                                    </span>
                                </p>
                            </div>
                            <div class="w-1/3 flex truncate">
                                <p class="text-sm text-gray-700 ml-2">
                                    Carreras:
                                </p>
                                <ol class="truncate">
                                    {% for ca in c.nombres_carreras %}
                                    <li>
                                        <p class="text-sm text-gray-800 truncate font-semibold ml-[6px] mt-[1px]">
                                            {{ ca }}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %} -->
        

            {% for c in comisiones %}
                <li class="docente">
                    <div class="w-full flex items-center space-x-4 justify-between">
                        <div class="w-full flex-1 min-w-0 flex flex-row py-2">
                            <div class="w-1/3 flex flex-col">
                                <p class="text-sm text-gray-700 truncate flex justify-start">
                                    Materia:
                                    <span class="text-sm truncate text-gray-800 font-semibold ml-1">
                                        {{ c.1 }}
                                    </span>
                                </p>
                                <p class="text-sm font-medium text-gray-700 truncate flex justify-start mt-1">
                                    Comisión: 
                                    <span class="text-sm text-gray-800 truncate font-semibold ml-1">
                                        {{ c.0 }}
                                    </span>
                                </p>
                            </div>
                            <div class="w-1/3 flex flex-col pl-12">
                                <p class="text-sm text-gray-700 truncate flex justify-start">
                                    Ubicación: 
                                    <span class="text-sm text-gray-800 truncate font-semibold ml-1">
                                        {{ c.2 }}
                                    </span>
                                </p>
                                <p class="text-sm font-medium text-gray-700 truncate flex justify-start mt-1">
                                    Días (sin asignar): 
                                    <span class="text-sm text-gray-800 truncate font-semibold ml-1">
                                        {{ c.4 }}
                                    </span>
                                </p>
                            </div>
                            <div class="w-1/3 flex">
                                <p class="text-sm text-gray-700 ml-2">
                                    Carreras:
                                </p>
                                <p class="text-sm text-gray-800 font-semibold ml-[6px] mt-[1px]">
                                    {{ c.3 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}

        
        </ol>
        {% endif %}
    </div>

    <div class="p-1 pl-7 sm:ml-64">
        <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-20 text-base" id="paginacion">
                <!-- Los botones de paginación se agregarán aquí con JavaScript -->
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Búsqueda -->
<script>
    const listaDocente = document.getElementById("lista-docentes").children;

    const filtrarDocente = () => {
        // console.log("filtrando docentes");
        const inputValue = document.getElementById("filtro").value.toLowerCase();
        // console.log(inputValue);
        for (const docente of listaDocente) {
            // console.log(docente);
            if (inputValue !== "" &&
                !docente.innerText.toLowerCase().includes(inputValue)) {
                docente.classList.add("hidden");
            }
            else {
                docente.classList.remove("hidden");
            }
        };
    }
    //filtrarDocente();
    const inputDOC = document.getElementById("filtro");
    inputDOC.onkeyup = filtrarDocente;
</script>

<!-- Paginación -->
<script>
    // Tu código de filtrado de docentes aquí (el que ya tienes)

    // Código de paginación
    const elementosPorPagina = 12;
    let paginaActual = 1;

    function mostrarDocentes(pagina) {
        const listaDocentes = document.getElementById("lista-docentes").children;
        const numDocentes = listaDocentes.length;
        const inicio = (pagina - 1) * elementosPorPagina;
        const fin = Math.min(inicio + elementosPorPagina, numDocentes);

        for (let i = 0; i < numDocentes; i++) {
            if (i >= inicio && i < fin) {
                listaDocentes[i].classList.remove("hidden");
            } else {
                listaDocentes[i].classList.add("hidden");
            }
        }

        paginaActual = pagina;
        crearBotonesPaginacion(Math.ceil(numDocentes / elementosPorPagina), paginaActual);
    }

    function crearBotonesPaginacion(numPaginas, paginaActual) {
        const paginacionDiv = document.getElementById("paginacion");
        paginacionDiv.innerHTML = "";

        // Botón de página anterior
        const botonAnterior = document.createElement("li");
        botonAnterior.innerHTML = `
         <a href="#" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
           <span class="sr-only">Previous</span>
           <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
           </svg>
         </a>
       `;
        botonAnterior.addEventListener("click", () => {
            if (paginaActual > 1) {
                mostrarDocentes(paginaActual - 1);
            }
        });
        paginacionDiv.appendChild(botonAnterior);

        // Botones de páginas
        const rango = 2; // Número de páginas a mostrar antes y después de la página actual.
        let start = Math.max(paginaActual - rango, 1);
        let end = Math.min(start + 2 * rango, numPaginas);

        if (end - start < 2 * rango) {
            start = Math.max(end - 2 * rango, 1);
        }

        for (let i = start; i <= end; i++) {
            const botonPagina = document.createElement("li");
            botonPagina.innerHTML = `
          <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="pagina">${i}</span>
          </a>
        `;
            if (i === paginaActual) {
                botonPagina.firstElementChild.classList.add("z-10", "text-blue-600", "border-blue-300", "bg-blue-50", "hover:bg-blue-100", "hover:text-blue-700", "dark:border-gray-700", "dark:bg-gray-700", "dark:text-white");
                botonPagina.firstElementChild.setAttribute("aria-current", "page");
            } else {
                botonPagina.firstElementChild.addEventListener("click", () => {
                    mostrarDocentes(i);
                });
            }
            paginacionDiv.appendChild(botonPagina);
        }

        // Botón de página siguiente
        const botonSiguiente = document.createElement("li");
        botonSiguiente.innerHTML = `
         <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
           <span class="sr-only">Next</span>
           <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
           </svg>
         </a>
       `;
        botonSiguiente.addEventListener("click", () => {
            if (paginaActual < numPaginas) {
                mostrarDocentes(paginaActual + 1);
            }
        });
        paginacionDiv.appendChild(botonSiguiente);
    }

    // Mostrar la primera página al cargar la página
    mostrarDocentes(1);
</script>

{% endblock %}