<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title> Inicio </title>
    {% endblock titulo %}

</head>

<body>

    <main>
        {% block main %}
        <!-- Docente -->
        <div class="col-6">
            algo
        </div>

        <!-- Mapa de Carrera -->
        <div class="col-6"> 
            otra cosa
        </div>
        {% endblock main %}
    </main>


</body>

</html>