<!-- ToDo: descargar las librerías que estemos utilizando por importación cdn -->

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% block title %}<!-- Contenido -->{% endblock %}
    {% block light-style %}<!-- Contenido -->{% endblock %}
</head>

<body class="h-screen w-full">
    {% block sidebar %}{% include 'sidebar_no_params.html' %}{% endblock %}
    
    {% block body-content %}<!-- Contenido -->{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    {% block scripts %}<!-- Contenido -->{% endblock %}
</body>
</html>