{% extends 'index.html' %}

{% block title %} <title>Inicio de sesión</title> {% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }
</style>

{% endblock %}

{% block sidebar %}
<div> <!-- div a fines de agrupar y poder ocultar todo el contenido -->
    <!-- Botón para desplegar cuando se achica el tamaño de la página -->
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Desplegar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
        </svg>
    </button>
    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-65 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full w-[116%] px-3 py-4 overflow-y-auto bg-red-800">
            <a href="#" class="flex items-center pl-2.5 mb-4 pb-3 border-b-[1px] border-white">
                <img src="https://untdf.edu.ar/img/isologotipo_chico.png" class="h-6 mr-3 sm:h-7" alt="UNTDF Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-50">Mapa de carreras</span>
            </a>
            <ul id="content-side-bar" class="space-y-2 font-medium">
            </ul>
        </div>
    </aside>
</div>
{% endblock %}


{% block body-content %}
<div class="flex h-full sm:ml-64 items-center justify-center">
    <!-- <div class="max-w-md mx-auto p-4">
        <h2 class="text-2xl mb-4">Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <hr class="my-4">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">
            <i class="fab fa-google"></i> Iniciar sesión con Google
        </a>
    </div> -->

    <section>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
            <div class="w-[150%] bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="w-full p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Iniciar sesión
                    </h1>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>
                            <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña:</label>
                            <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                        </div>
                        <div class="flex justify-center items-center mt-6">
                            <button type="submit" class="w-1/2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Iniciar sesión</button>
                        </div>
                    </form>
                    
                    <!-- <hr class="my-4"> -->
                    <div class="flex justify-center items-center">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                            <i class="fab fa-google"></i> Iniciar sesión con Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="indicador-carga" style="display: none;">
        Cargando...
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Obtén una referencia al elemento del indicador de carga
    const indicadorCarga = document.getElementById("indicador-carga");

    // Agrega un escuchador de eventos para mostrar el indicador de carga cuando la página comienza a cargar recursos
    window.addEventListener("load", () => {
        indicadorCarga.style.display = "none"; // Oculta el indicador de carga cuando la página se carga por completo
    });

    // Agrega un escuchador de eventos para mostrar el indicador de carga cuando se realiza una solicitud al servidor
    // Por ejemplo, cuando se hace una solicitud AJAX
    // Supongamos que estás utilizando jQuery para hacer solicitudes AJAX
    $(document).ajaxStart(function () {
        indicadorCarga.style.display = "block"; // Muestra el indicador de carga cuando comienza una solicitud AJAX
    });

    $(document).ajaxStop(function () {
        indicadorCarga.style.display = "none"; // Oculta el indicador de carga cuando todas las solicitudes AJAX se completan
    });
</script>
{% endblock %}